.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
  }
  .submit{
    width: 100%;
    background-color: #304ffe;
    border-radius: 5px;
    padding: 5px;
    transition: all 0.3s ease;
    margin-top: 30px;
    color: white;
  }
  
  .submit:hover{
    transform: scale(1.01);
    border-radius: 5px;
  }
  .submit svg{
    width: 125px;
    margin: 0px;
    height: 25px;
    padding: 0px;
    color: white;
    margin: auto;
  }
  .container h3{
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 1.2rem;
    width: 100%;
    color: #304ffe;
    background-color: #d9deff;
    padding: 3px 6px;
    border-radius: 6px;
  }
  @media screen and ( max-width:600px){
    .container h3 {
      font-size: 1rem;
      padding: 3px 4px;
    }
    .submit {
      margin-top: 20px;
    }
  }

  @media screen and ( min-width:1070px){
   .submit {
    font-size: 1.2rem;
   }
   .submit svg{
    width: 180px;
    height: 32px;
   }
  }
  