.container {
    padding-bottom: 15px;
    border-bottom: 1px solid silver;
}
.container h3 {
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 1.2rem;
    width: 100%;
    color: #304ffe;
    background-color: #d9deff;
    padding: 3px 6px;
    border-radius: 6px;
}
.container button {
    width: 100%;
    background-color: #304ffe;
    border-radius: 5px;
    padding: 5px;
    transition: all 0.3s ease;
    margin-top: 30px;
    color: white;
    cursor: pointer;
}

.container button:hover{
    transform: scale(1.01);
    border-radius: 5px;
}
.container button:disabled{
    opacity: 0.6;
}
.image{
    display: flex;
    flex-direction: column;
}
.image input{
    display: none;
}

.image svg{
    color: #304ffe;
    border: #304ffe 1px dashed;
    padding: 9px 11px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 8px;
    width: 66px;
    height: 56px;
}
.image img {
    width: 68px;
    height: 58px;
    border-radius: 8px;
     object-fit: cover;
     box-shadow: 0 3px 15px #304ffe4a;;
}
@media screen and (max-width:600px) {
    .container h3 {
        font-size: 0.9rem;
        padding: 2px 4px;
        border-radius: 4px;
    }
    .container label {
        font-size: 0.8rem;
    }
    .image p{
        font-size: 0.8rem;
    }
    .image svg {
        width: 60px;
        height: 50px;
    }
    .image img {
        width: 60px;
        height: 50px;
    }
}
@media screen and (min-width:1070px){
    .container button{
        font-size: 1.1rem;
    }
    .image svg {
        width: 100px;
        height: 80px;
    }
    .image p {
        font-size: 1.1rem;
        font-weight: 500;
    }
    .image img {
        width: 100px;
        height: 80px;
    }
}